nav {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
nav h1 {
  justify-content: flex-start;
}
nav .mass-delete {
  justify-content: flex-end;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  flex: 0 1 22%;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
}
.product p {
  text-align: center;
}
.product__checkbox {
  position: relative;
  top: 10px;
  left: 10px;
}

@media screen and (max-width: 900px) {
  .product {
    margin: 5px;
    flex: 0 1 46%;
  }
}
@media screen and (max-width: 420px) {
  .product {
    margin: 5px;
    flex: 0 1 100%;
  }
}

/*# sourceMappingURL=list.css.map */
