nav {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
nav h1 {
  justify-content: flex-start;
}
nav .save {
  justify-content: flex-end;
}

form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid black;
  padding: 5px;
}
form label {
  text-align: end;
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  justify-content: flex-start;
}
form input, form select {
  box-sizing: border-box;
  width: 70%;
  justify-content: flex-end;
}

.formField {
  display: flex;
  margin: 10px 0;
}

.hidden {
  display: none;
}

.error {
  text-align: center;
  color: red;
  display: block;
  width: 100%;
}

/*# sourceMappingURL=new.css.map */
